$link-color: #143cdc;

.fs-6 {
  @include fs-6;
}

.two-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.example-image {
  display: flex;
  justify-content: center;

  img {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, whitesmoke 0px -1px 0px;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.example-image.tiny img {
  height: 100px;
}

.example-image.tiny-small img {
  height: 150px;
}

.example-image.small img {
  height: 200px;
}

.example-image.medium img {
  height: 250px;
}

.example-image.medium-big img {
  height: 350px;
}

.example-image.big img {
  height: 450px;
}

@media only screen and (max-width: 800px) {
  .example-image img {
    height: auto !important;
  }

  .two-cards {
    flex-direction: column !important;
  }

  .example-image.tiny,
  .example-image.small,
  .example-image.tiny-small {
    img {
      width: 60%;
    }
  }

  .example-image.medium,
  .example-image.medium-big .example-image.big {
    img {
      width: 100%;
    }
  }
}
